# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Compiled papyrus script executables
*.pex
Translations/LTTForMods_czech.txt
Translations/LTTForMods_french.txt
Translations/LTTForMods_italian.txt
Translations/LTT_Chesko_french.txt
Translations/LTT_Chesko_spanish.txt
Translations/LTT_Chesko_japanese.txt
Translations/LTT_Chesko_italian.txt
Translations/LTTForMods_english.txt
Translations/LTTForMods_german.txt
Translations/LTTForMods_japanese.txt
Translations/LTTForMods_polish.txt
Translations/LTT_Chesko_czech.txt
Translations/LTTForMods_russian.txt
Translations/LTTForMods_spanish.txt
Translations/LTT_Chesko_russian.txt
Translations/LTT_Chesko_polish.txt
Translations/LTT_Chesko_english.txt
Translations/LTT_Chesko_german.txt